<hr>
<div align="center"><font size="3" color="#FC8507"><b>Add New Party</b></font></div><hr>
<a href="/party_lists" style="padding-left:15px;"><font style="color:blue;">Back</font></a>
<%= render 'form' %>