<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @district_list.name %>
</p>

<%= link_to 'Edit', edit_district_list_path(@district_list) %> |
<%= link_to 'Back', district_lists_path %>
